*{
	box-sizing: border-box;
}




body{
	background: #F5F6FA;
}


.header{
	width: 100%;
	height: 1.32rem;
	background: #0078E6;
	text-align: center;
	overflow: hidden;
}
.header .pic8{
	width: 100%;
}
.header .headerleft{
	width:50%;
	margin: 0.1rem auto;
	overflow: hidden;
}

 .headerleft img{
 	display: block;
 	width: 0.7rem;
 	height: 0.67rem;
    float: left;
    margin-left: 0.7rem;
    padding-top: 0.1rem;
}
.headerleft h3{
	float: left;
	font-size: 0.36rem;
	color: #fff;
	line-height: 0.7rem;
}
.banner{
	overflow: hidden;
	width:100%;
	height: 2.81rem;
}


.banner img{
	width: 100%;
}
/*banner图完结*/

.xueyuan{
	width: 100%;
	height: 0.81rem;
	background: #F5F6FA;
	line-height: 0.9rem;
	box-sizing: border-box;
	padding-left:0.25rem;
	margin-bottom: 0.2rem;
}


.xueyuan a{
	text-decoration: none;
	color: black;
}

.xueyuan span{
	font-size: 0.22rem;
	font-weight: 650;
}




.ding{
	width: 95%;
	height: auto;
	margin: 0rem auto;
	background: #fff;
	overflow: hidden;
	box-sizing: border-box;
	margin-bottom: 0.1rem;
}
.ding .zhaopian{
	width: 1.95rem;
	height: 1.47rem;
	background: #C8C8C8;
	margin-right: 0.2rem;
	margin-bottom: 0.2rem;
    margin-left: 0.2rem;
	margin-top: 0.2rem;
	float: left;
	overflow: hidden;
}

.ding .hezi{
	width: auto;
    float: left;
	box-sizing: border-box;	
	overflow: hidden;
	padding-top: 0.2rem;
	line-height: 0.35rem;
}
.ding .liu{
	color: #4C4A4A;
	font-size: 0.2rem;
}
.ding .pic{
	padding-bottom: 0.2rem;
	width: 100%;
	text-align: center;
}
.ding .pic img{
	width: 100%;
}

.linian{
	width: 95%;
	height:auto;
	background: #fff;
	margin: 0 auto;	
	overflow: hidden;
}

.linian .smallbox{
	width: 0.05rem;
	height: 0.2rem;
	background: #01B5FF;
	margin-top: 0.35rem;
	margin-left: 0.2rem;
	float: left;
}
.linian .smallbox1{
	width: 92%;
	height: 0.4rem;
	float: left;
	margin-top: 0.3rem;
	margin-left: 0.2rem;
	font-weight: bold;
}
 .smallbox1 p{
 	font-size: 0.2rem;
}



.zi{
	width: 95%;
	height: auto;
	overflow: hidden;
	margin: 0rem auto;
}
.zi p{
	padding: 0rem 0.3rem;
	font-size:0.24rem;
	color: #666666;
	padding-bottom: 0.5rem;
}


.dibu{
	width: 95%;
	margin: 0rem auto;
}

.dibu img{
	width: 100%;
}



.jiewei{
	width: 100%;
	height: 0.9rem;
	text-align: center;

}


.jiewei .jie{
	font-size: 0.2rem;
	color: #666666;
	box-sizing: border-box;
	padding-top: 0.2rem;
	padding-bottom:0.1rem;
}
.jiewei .wei{
	font-size: 0.2rem;
	color: #666666;
	box-sizing: border-box;
}
